<!-- {% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
        id: {{book.id}}
        Name: {{book.name}}
        author: {{book.author}}
        published_year: {{book.published_year}}
        type: {{book.type}}
{% endblock %} -->

{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    
  <h1>Index</h1>
  <p class="important">
    Welcome to my awesome homepage.
{% endblock %}
