{% extends "layout.html" %}
{% block title %}data all {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

  <h1>Data all</h1>
  <p class="important">
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {%- for contact in contacts %}
    <div class="col">
        <div class="card">
          <img src="https://picsum.photos/20{{ contact.id}}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{ contact.id}}</h5>
            <p class="card-text">{{ contact.name}}</p>
            <a class="btn btn-success" href="aaa">Add</a>
    <a class="btn btn-danger" href="/del/{{ contact.id}}">del</a>
          </div>
        </div>
      </div>
   
    {% endfor %}
</div>
{% endblock %}

 

    
    
 
   